2_Targets_And_Tasks/CustomTask/CustomTask.sln.metaproj.tmp
2_Targets_And_Tasks/CustomTask/CustomTask.sln.metaproj
2_Targets_And_Tasks/CustomTask/CustomTask/obj/Debug/CustomTask.csproj.FileListAbsolute.txt
2_Targets_And_Tasks/CustomTask/after.CustomTask.sln.targets
